* {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    letter-spacing: 3px;
}


nav {
    display: flex;
    position: sticky;
    z-index: 2;
    width: 100%;
    justify-content: center;
    background: linear-gradient(#f7be21, #f0e661da);
    height: 86px;
}

nav.barra-nav {
    width: 100%;
    flex-grow: 1;

}

div.navbar {
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    padding: 10px;
    flex-grow: 1;
}



.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar-list li {
    margin-right: 10px;

}

.navbar-list li a {
    text-decoration: none;
    padding: 5px;

}

div.contenedor-logo {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}


#logo-empresa {
    max-width: 400px;
    height: 400px;
    z-index: 0;
    align-items: center;
    display: block;
}

#logo-empresa1 {
    max-width: 400px;
    height: 400px;
    z-index: 0;
    align-items: center;
    display: block;
}

#logo-empresa2 {
    max-width: 400px;
    height: 400px;
    z-index: 0;
    align-items: center;
    display: block;
}

#logo-empresa3 {
    max-width: 400px;
    height: 400px;
    z-index: 0;
    align-items: center;
    display: block;
}


/* Media queries for responsiveness */
@media screen and (max-width: 1200px) {
    .navbar-list li {
        margin-right: 5px;
    }
}

@media screen and (max-width: 992px) {
    .navbar-list {
        justify-content: center;
    }

    .navbar-list li {
        margin-right: 10px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 768px) {
    .navbar-list li {
        margin-right: 5px;
    }
}

@media screen and (max-width: 576px) {
    .navbar-list li {
        margin-right: 3px;
    }
}

nav li:hover {
    background-color: #e4ce52;
}

nav li {
    margin: 0 1rem;

}

nav a {
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
    letter-spacing: 10%;
    text-shadow: #363636 1px;


}

/* fin CSS menu de navegacion */


/* inicio CSS principal de index.html */

main {

    background: linear-gradient(#000000, #000000);
    color: #c9c9c9
}

.encabezado {
    border-bottom: solid;
    border-color: rgba(30, 30, 30, 1);
    border-width: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;

}

h1 {
    z-index: 1;

}

.encabezado img {
    padding: 0.5rem;
    border-radius: 20px;
}

.seccion {
    padding: 0.5rem;
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(30, 30, 30, 1);
    border-width: 3px;
    flex-direction: column;
    align-items: center;

}

.productos {
    border-radius: 10px;
    border-style: solid;
    border-color: rgba(30, 30, 30, 1);
    border-width: 3px;
}

div.tit {
    font-size: 40px;
    font-family: 'Lora', serif;
    margin-bottom: 40px;
    color: #c9c9c9;
    margin-top: 40px;
    text-align: center;
    text-transform: uppercase;
}

h2.subtitulos {
    margin-bottom: 40px;
    margin-left: 60px;
    text-align: center;
    text-transform: lowercase;
    font-size: 30px;
}

div.titulo {
    margin-left: 8.5%;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: larger;
    text-transform: uppercase;
}

.subtitulo {

    color: #000;
    display: inline;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 40px;
    justify-content: center;
}

.sabor {
    color: #c9c9c9;
    margin: 7px 0;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
    font-family: 'Dancing Script', cursive;
    margin-top: 0;
}

.linea-division {
    width: 80%;
    height: 2px;
    background-color: #979797;
}

.fotos {
    border: 0px;
    padding: 0px;
    text-align: center;
    background-color: #000;
}

form {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Lora', serif;
}

/* fin CSS principal index.html */

/* inicio CSS footer */

footer {
    background: linear-gradient(#f7be21, #f0e661da);
    padding: 1rem;
    text-align: center;

}

footer ul {
    list-style: none;
    margin-left: 30px;
    padding: 0;
    display: flex;
    justify-content: left;
}

footer li {
    margin: 0 1rem;
}

.redes img {
    border-radius: 7px;
}

li.div.legal {
    text-align: left;
    margin-bottom: 30px;
    margin-left: 30px;
    font-size: larger;
    vertical-align: middle;
}

.copywright {
    text-align: left;
}

/* fin CSS footer */

/* inicio CSS productos.html */

.productos {
    /*padding-left: 3rem;*/
    border-style: solid;

}

.productos img {
    width: 20rem;
    border-radius: 10px;
}

.d-block.w-100 {
    max-width: 60%;
    margin: auto;
}

.descripcion {
    display: flex;
    padding: 1rem;
    padding: 0;
    margin-bottom: 0.2rem;
}



.prod_detalle {
    padding-left: 3rem;
    padding-right: 3rem;
}

header h1 {
    /*background-color: #1d1d1d;*/
    text-align: center;
}

/* fin CSS productos.html */
/*maps*/
section {
    padding: 50px;
}

#map {
    height: 500px;
    width: 100%;
}

/*animacion desde javascript*/
.carousel-cervezas,
.carousel-hamburguesas,
.carousel-veggie {
    display: flex;
    position: relative;
    width: auto;
    overflow: hidden;
    margin: 0 auto;
}

.carousel__track-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel__track {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.3s ease-in-out;
}

.carousel__slide {
    flex: 0 0 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #000;
    cursor: pointer;
}

.carousel__button--left {
    left: 0;
}

.carousel__button--right {
    right: 0;
}

.is-hidden {
    display: none;
}

fieldset {
    display: flex;
    width: 53%;
}