/* css de index.html */


/* inicio CSS menu de navegacion */
* {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    letter-spacing: 3px;
}

/*nav {
    background-color: #e2d51a;
    padding: 1rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    height: 40px;

}

#logo-empresa{
    float: center;
    align-content: center;
}*/
nav {
    display: inline-block;
    position: sticky;
    top: 0;
    z-index: 2;
    width: 100%;
    justify-content: center;
    background: linear-gradient(#e2d51a, #f0e661da);
    height: 86px;
}

.navbar {
    position: sticky;
    top: 0;
    display: inline-block;
    align-items: center;
    padding: 10px;
    flex-grow: 1;
}

.navbar ul {
    width: auto;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-list li {
    margin-right: 10px;
}

.navbar-list li a {
    text-decoration: none;
    padding: 5px;

}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

#logo-empresa {
    max-width: 85px;
    height: 85px;

}

nav li:hover {
    background-color: #e4ce52;
}

nav li {
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem;
}

/* fin CSS menu de navegacion */


/* inicio CSS principal de index.html */

main {

    background: linear-gradient(#000, #181818);
    color: #ffff
}

.encabezado {
    border-style: solid;
    border-color: #b1afaf;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.encabezado img {
    padding: 0.5rem;
    border-radius: 20px;
}


.titulo {
    font-size: 40px;
    font-family: 'Lora', serif;
    margin-bottom: 40px;
    color: #fff;
}

.subtitulo {
    margin: 0;
    color: #000;
    display: inline;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
}

.sabor {
    color: #fff;
    margin: 7px 0;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
    font-family: 'Dancing Script', cursive;
    margin-top: 0;
}

.linea-division {
    width: 80%;
    height: 2px;
    background-color: #979797;
}

.fotos {
    border: 0px;
    padding: 0px;
    text-align: center;
    background-color: #000;
}

form {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Lora', serif;
}

/* fin CSS principal index.html */

/* inicio CSS footer */

footer {
    background: linear-gradient(#cea10f, #cea10fb2);
    padding: 1rem;
    text-align: center;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

footer li {
    margin: 0 1rem;
}

.redes img {
    border-radius: 7px;
}

.legal {
    text-align: left;
}

/* fin CSS footer */

/* inicio CSS productos.html */

.productos {
    /*padding-left: 3rem;*/
    border-style: solid;

}

.productos img {
    width: 20rem;
    border-radius: 10px;
}

.d-block.w-100 {
    max-width: 60%;
    margin: auto;
}

.descripcion {
    display: flex;
    padding: 1rem;
    padding: 0;
    margin-bottom: 0.2rem;
}



.prod_detalle {
    padding-left: 3rem;
    padding-right: 3rem;
}

header h1 {
    /*background-color: #1d1d1d;*/
    text-align: center;
}

/* fin CSS productos.html */
/*maps*/
section {
    padding: 50px;
}

#map {
    height: 500px;
    width: 100%;
}

/*animacion desde javascrit*/
.carousel-cervezas,
.carousel-hamburguesas,
.carousel-veggie {
    display: flex;
    position: relative;
    width: auto;
    overflow: hidden;
    margin: 0 auto;
}

.carousel__track-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel__track {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.3s ease-in-out;
}

.carousel__slide {
    flex: 0 0 100%;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #000;
    cursor: pointer;
}

.carousel__button--left {
    left: 0;
}

.carousel__button--right {
    right: 0;
}

.is-hidden {
    display: none;
}

fieldset {
    display: flex;
    width: 53%;
}